body{
	scrollbar-face-color: #400000;
	scrollbar-highlight-color: #ffbd75;
	scrollbar-shadow-color: #ffbd75;
	scrollbar-arrow-color: #ffbd75;
	scrollbar-base-color: #ffcc99;
	scrollbar-dark-shadow-color: #ffcc99;
	margin: 0px;
	background-image: url(../images/bg-0064.gif);
}
a:link{color: #003366;text-decoration: none;}
a:visited{color: #003366;text-decoration: none;}
a:hover{color: #003366;text-decoration: underline;position: relative; left: 1px; top: 1px; clip:  rect(   );}
a:active{color: #003366;text-decoration: none;}
body,td,th{font-size: 13px;color: #FFFFFF;}
.td1{background-color: #666633;}
.td2{background-color: #400000;}
.fon1 {color:#ffba08;}
.fon2 {color:#FFFF00;}
.fon3 {color:#FF0000;}
.fon4 {color:#000000;}
.fon5 {color:#00FF00;}
.fon6 {color:#003366;}