body {
	scrollbar-face-color: #621800;
	scrollbar-highlight-color: #ffbd75;
	scrollbar-shadow-color: #ffbd75;
	scrollbar-arrow-color: #ffbd75;
	scrollbar-base-color: #ffcc99;
	scrollbar-dark-shadow-color: #ffcc99;
	margin: 0px;
	background-image: url(../images/bg-0064.gif);
}
body,td,th {font-size: 13px;color: #621800;}
p {line-height:150%;}
a:link {color: #E21512;text-decoration: none;}
a:visited {color: #D20E1A;text-decoration: none;}
a:hover {color: #621800;text-decoration: underline;}
a:active{ color: #621800;text-decoration: none;}
.td1{background-color:#F6E6AC;}
.td2{border-color:#621800;}
.td3{background-color:#E6BD6A;}
.fon1 {color:#ffba08;}
.fon2 {color:#FFFF00;}
.fon3 {color:#FF0000;}
.fon4 {color:#FFFFFF;}
.fon5 {color:#00FF00;}
.fon6 {color:#003366;}
.fon7 {color:#FFFFCC;}
.hr {height:1px;border:none;border-top:1px solid #621800;}
.cenbg {background-position:center center;background-repeat:no-repeat;}
.rigbg {background-position:center right;background-repeat:no-repeat;}
.rigbbg {background-position:bottom right;background-repeat:no-repeat;}
.hr0{ height:1px;border:none;border-top:1px dashed #621800;}
.hr1{ height:1px;border:none;border-top:1px solid #621800;}
.hr2{ height:3px;border:none;border-top:3px double #621800;}